[submodule "core"]
	path = core
	url = https://github.com/jackiezxt/zxtMaya_ToolsCore.git
[submodule "tools/zxtMaya_M2Ue"]
	path = tools/zxtMaya_M2Ue
	url = https://github.com/jackiezxt/zxtMaya_M2Ue.git
[submodule "tools/zxtMaya_ConvertShader"]
	path = tools/zxtMaya_ConvertShader
	url = https://github.com/jackiezxt/zxtMaya_ConvertShader.git
[submodule "tools/zxtMaya_AntiVirus"]
	path = tools/zxtMaya_AntiVirus
	url = https://github.com/jackiezxt/zxtMaya_AntiVirus.git
[submodule "tools/zxtMaya_Alembic"]
	path = tools/zxtMaya_Alembic
	url = https://github.com/jackiezxt/zxtMaya_Alembic.git
